.register {
  &__content {
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    // align-items: center;
    border-radius: 20px;
    margin: 0 auto;
    padding: 40px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    margin: 40px 0 30px 0;
    input {
      font-size: 18px;
      font-family: inherit;
      border: none;
      border-bottom: 1px solid #cccc;
      outline: none;
      padding: 5px 0;
      margin-bottom: 30px;

      &:last-of-type {
        margin-bottom: 8px;
      }
      &:placeholder-shown {
        opacity: 0.7;
      }
      &:focus {
        border-bottom-color: #40b0ee;
      }
    }
    .sign {
      font-size: 14px;
      opacity: 0.7;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      font-size: 18px;
      font-family: inherit;
      border: none;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: all ease 0.1s;
      cursor: pointer;
      padding: 5px 20px;
    }
  }
  &__submit {
    margin-bottom: 15px;
  }

  &__buttonLogin {
    text-decoration: underline;
  }
}

@media (max-width: 320px) {
  .register {
    &__inputs {
      input {
        font-size: 14px;
      }
    }
    &__buttons {
      button,
      a {
        font-size: 14px;
      }
    }
  }
}
