.notes {
  flex: 1 0 auto;

  &__content {
    display: flex;
    flex-wrap: wrap;
  }
  &__contentLoading {
    justify-content: flex-end;
  }

  &__error {
    margin: 0 auto;
    width: 100%;
  }

  &__category {
    color: rgb(174, 189, 197);
    margin-bottom: 40px;
    font-size: 2.5rem;
  }
}
