* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
#root,
.Container {
  height: 100%;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #f7f8f8;
}

a {
  text-decoration: none;
  color: #000;
}

form {
  flex: 1 0 auto;
}
