.addNote {
  &__content {
    display: flex;
    flex-direction: column;
    input {
      outline: none;
      margin-bottom: 20px;
      font-family: inherit;
      &:placeholder-shown {
        opacity: 0.7;
      }
    }
  }

  &__title {
    font-size: 42px;
    border: none;
    background-color: #f7f8f8;
    border-bottom: 1px solid #cccc;
  }

  &__category {
    padding: 10px 5px;
    font-size: 20px;
  }

  &__buttons {
    margin-top: 20px;
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    button,
    a {
      font-size: 16px;
      font-family: inherit;
      margin-left: 15px;
      border: none;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px 20px;
      transition: all ease 0.1s;
      color: #ffff;
      cursor: pointer;
    }
  }

  &__confirm {
    background-color: #007bfe;
    &:hover {
      background-color: #4178b1;
    }
  }

  &__cancel {
    background-color: #dc3545;
    &:hover {
      background-color: #ae434d;
    }
  }
}

@media (max-width: 340px) {
  .addNote {
    &__title {
      font-size: 30px;
    }
    &__category {
      font-size: 14px;
    }

    &__buttons {
      flex-direction: column;
      align-self: auto;
      button,
      a {
        margin-left: 0;
        width: 100%;
        text-align: center;
      }

      & > button {
        margin-bottom: 10px;
      }
      a {
        font-size: 14px;
      }
    }
  }
}
