.header {
  margin-bottom: 40px;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
    opacity: 0.6;
    transition: all 0.2s;
    &:hover {
      opacity: 1;
    }
  }

  &__title {
    font-size: 20px;
  }
  &__link {
    margin-left: 5px;
  }

  .list {
    list-style-type: none;
    display: flex;
    &__item {
      margin-left: 20px;
    }
    &__link {
      font-size: 20px;
    }
  }
}

@media (max-width: 540px) {
  .header {
    &__logo {
      font-size: 16px;
    }
    .list {
      &__item {
        margin-left: 20px;
      }
      &__link {
        font-size: 16px;
      }
    }
    &__link {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 438px) {
  .header {
    &__content {
      flex-wrap: wrap;
    }
    .list {
      &__item {
        margin-left: 20px;
      }
      &__link {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 329px) {
  .header {
    &__content {
      flex-wrap: wrap;
    }
    .list {
      &__item {
        margin-left: 10px;
      }
      &__link {
        font-size: 14px;
      }
    }
  }
}
