.footer {
  padding-top: 15px;
  margin-top: 60px;
  border-top: 1px solid #cccc;
  flex: 0 0 auto;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
  }
  &__info {
    &_title {
      margin-bottom: 10px;
    }
  }
  &__links {
    display: flex;
  }
  &__link {
    height: 35px;
    width: 35px;

    display: flex;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }

    svg {
      opacity: 0.6;
      transition: all ease 0.2s;
    }
  }
  .link {
    &_telegram {
      &:hover {
        fill: #29b6f6;
        opacity: 1;
      }
    }
    &_vk {
      &:hover {
        fill: #1976d2;
        opacity: 1;
      }
    }
    &_git {
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 540px) {
  .footer {
    &__info {
      font-size: 14px;
    }
  }
}

@media (max-width: 479px) {
  .footer {
    &__info {
      margin-bottom: 10px;
      line-height: 25px;
    }
  }
}

@media (max-width: 329px) {
  .footer {
    &__link {
      width: 30px;
      height: 30px;
    }
  }
}
